.EBottomResults {
  background-color: #fcfcfc;
  box-shadow: 0.1rem 0.1rem 0.2rem #9e9e9e;
  border-radius: 0.8rem 0.8rem 0 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: bottom ease-out 0.8s;
  position: absolute;
  height: 20vh;
  padding: 0 0.5rem;
}

.EBottomResults.darkmode {
  background-color: #394146;
  box-shadow: 0.1rem 0.1rem 0.2rem #000000c2;
  transition: ease-out 0.2s;
}

.EBottomResults .container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: visible;
}

.container .EBottom__btn-forecast {
  background-color: #473e50;
  border: solid 1px black;
  box-shadow: 5px 3px 0 0.4px #9099eb;
  color: #f5f5fc;
  font-weight: 700;
  margin: 0 auto;
  padding: 0.4rem 1.2rem;
  text-transform: uppercase;
}

.container .EBottom__btn-forecast.darkmode {
  background-color: #9099eb;
  box-shadow: 5px 3px 0 0.4px #4551c0;
  color: #040404;
}

.container .EBottom__btn-forecast:active {
  box-shadow: 5px 4px 0 0.5px initial;
  padding: 0.5rem 1.3rem;
}

.EBottom__btn-forecast p {
  display: inline-block;
  margin-left: 0.5rem;
}

.forecastItem {
  background-color: #5a5f7e;
  box-shadow: 0.1rem 0.1rem 0.2rem #0000003a;
  border-radius: 0.8rem;
  color: #e2e2e2;
  margin: 0rem 0.3rem;
  text-align: center;
  padding: 0.7rem 0;
}

.forecastItem.darkmode {
  background-color: #49676b;
}

.forecastItem h2 {
  font-size: 1rem;
}

.foreItem__icon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #3a3a3a;
}

.foreItem__icon img {
  width: 100%;
}

.details__body {
  display: flex;
  justify-content: center;
}
.details__body .details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  font-size: 1.2rem;
}

.details__item p {
  font-size: 0.8rem;
}
