.Profile {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bgLightApp);
  flex-shrink: 0;
}

.Profile.darkMode {
  background-color: var(--bgDarkApp);
}

.Profile .wrapper {
  padding-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile__edit-pict {
  width: 42px;
  height: 30px;
  background-color: var(--bgLightCard);
  border-radius: 5px;
  box-shadow: 0.1rem 0.1rem 0.4rem var(--lightShadow);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 4px;
  right: 10px;
}

.Profile__edit-pict.active {
  opacity: 0;
  transform: scale(0);
}

.Profile__upload-button {
  padding: 12px 24px;
  background-color: var(--bgLightButton);
  color: var(--lightText);
  border-radius: 4px;
}

#img-input {
  opacity: 0;
  z-index: -10;
  transform: scale(0);
  width: 0;
  height: 0;
  position: absolute;
}

.User__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
