.ECard {
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.9em var(--bglightCard);
  padding: 2rem 3rem;
  width: 20rem;
  text-align: center;
  position: relative;
  background-color: var(--bgLightCard);
  transition: all ease-out 0.2s;
}

.ECard__cover {
  width: 7.2rem;
  margin: 0 auto;
  height: 100px;
}

.ECard__cover img {
  max-width: 100%;
}

.ECard.darkmode {
  box-shadow: 0.1rem 0.1rem 0.9rem var(--darkShadow);
  background-color: var(--bgDarkCard);
  color: var(--lightText);
}

.ECard .ECard__heading {
  font-size: 1.2rem;
}

.ECard .ECard__weather {
  font-size: 3rem;
}

.ECard__weather {
  font-size: 4rem;
}

.ECard__weather-icon {
  background-color: var(--darkShadow);
  box-shadow: 0.1rem 0.1rem 0.9em var(--lightShadow);
  border-radius: 50%;
  top: 0.5rem;
  position: absolute;
  right: 3.5rem;
  width: 40px;
  height: 40px;
  transition: all ease-out 0.2s;
}

.ECard__weather-icon.darkmode {
  box-shadow: none;
  background-color: #646464;
}

.ECard__weather-icon img {
  width: 100%;
}

.ECard__details {
  display: flex;
  justify-content: space-around;
}

.ECard__details .details__item {
  font-size: 1.2rem;
}
