.Navigator {
  background-color: var(--bgLightBottom);
  min-height: 100vh;
  top: 0;
  transition: transform ease-out 0.2s;
  width: 75.6%;
  flex-shrink: 0;
  max-height: 100vh;
  overflow-y: scroll;
}

.Navigator.darkMode {
  background-color: var(--bgDarkBottom);
  color: var(--lightText);
}

.Navigator__head {
  background-color: var(--bgLightButton);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8em 2rem;
}

.User__info {
  align-self: flex-start;
  color: var(--lightText);
}

.User__info p {
  font-size: 0.75rem;
}

.User__info .class_icon {
  font-size: 1rem;
}

.User__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bgLightApp);
  border: solid 2px var(--bgDarkButton);
}

.User__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Navigator__body {
  padding: 0.6rem;
}

.Nav__options {
  border-bottom: solid 2px var(--lightShadow);
}

.Nav__options .Nav__option {
  color: var(--darkText);
}

.Nav__options.darkmode .Nav__option {
  color: var(--lightText);
}

.Nav__option {
  padding: 1.2rem;
  font-size: 0.9rem;
  display: block;
  font-weight: 700;
  border-bottom: solid 1px var(--lightShadow);
}

.Nav__options .Nav__option.active {
  color: var(--bgDarkButton);
}

.Nav__places {
  padding: 1.3rem 0.6rem;
}

.Nav__places header {
  font-size: 1.3rem;
  font-weight: 700;
}

/* -- Nav-PlaceItem -- */

.PlaceOption {
  background-color: var(--bgLightButton);
  border-radius: 8px;
  padding: 0.8rem;
  color: var(--lightText);
  margin: 4px;
}
